<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block navigation %}
            <nav>
                <ul class="navigation">
                    <li><a href="{{ path('BloggerBlogBundle_homepage') }}">Home</a></li>
                    <li><a href="{{ path('BloggerBlogBundle_about') }}">About</a></li>
                    <li><a href="{{ path('BloggerBlogBundle_contact') }}">Contact</a></li>
                </ul>
            </nav>
        {% endblock %}
        <hgroup>
            <h2>{% block blog_title %}<a href="{{ path('BloggerBlogBundle_homepage') }}">symblog</a>{% endblock %}</h2>
            <h3>{% block blog_tagline %}<a href="{{ path('BloggerBlogBundle_homepage') }}">creating a blog in Symfony2</a>{% endblock %}</h3>
        </hgroup>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
